target/
*.class
*.jar
!**/src/main/**
!**/src/test/**

.idea/
*.iml
*.iws
*.ipr
.DS_Store

*.log
logs/
docs/**
.env
compliance-app/.env.app
compliance-api/.env.api
compliance-worker/.env.worker
*.env.local
